html {
    height: 100%;
}

body {
    height: 100%;
    margin:0 0 0 0px;
    padding:0;
    font-family:"Verdana", "Tahoma", Sans-serif;
    font-size:small;
    color:#4b4b4b;
    text-align: left;
}

a {
    text-decoration: none;
    display: block;
}
a:link    {color: #808080;}
a:visited {color: #808080;}
a:hover   {color: #c9c9c9}
a:active  {color: #c9c9c9;}

#wrapper {
    width: 800px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0px auto -35px;
}

#footer{
    border-top: 1px solid #b0b0b0;
    width: 800px;
    margin: auto;
    padding: 10px 0 5px 0;
    text-align: center;
}

#push {
    height: 35px;
}

/*top right bottom left*/
#logo {
    float:left;
    margin:52px 0 20px 0;
}

#logo h1 {
    margin:0; padding:0;
    font-family:"Arial", "Helvetica", Sans-serif;
    font-weight:100;
    font-size:30px;
    letter-spacing:-2px; 
    word-spacing:6px;
    text-transform:uppercase;
    color:#4b4b4b;
    text-align: left;
}


#logo h2{
    margin:0; padding:0;
    margin-left:80px;
    font-weight:bold;
    color:#808080;
    text-transform:uppercase;
    font-family:"Arial", "Helvetica", Sans-serif;
    font-weight:100;
    letter-spacing:-1px; 
    word-spacing:4px;
    font-size:2.0em;
}

#logo h3 {
    margin:10px 0 0 0; padding:0;
    font-family:"Arial", "Helvetica", Sans-serif;
    font-weight:100;
    font-size:1.2em;
    letter-spacing:0px; 
    word-spacing:2px;
    color:#898989;
}

iframe{
    width:800px;
    height:600px;
}

.bold {
    font-weight:bold;
    letter-spacing:-2px;
}

#languages{
    /*border-top: 8px solid #4b4b4b;*/
    border-bottom: 1px solid #b0b0b0;
    height: 15px;
    vertical-align: top;
    text-align:right;
    text-transform:uppercase;
    font-family:"Arial", "Helvetica", Sans-serif;
    font-size:12px; 
    font-weight:bold;
    word-spacing:4px;
    padding: 6px 0 6px 0; 
}

#nav {
    height:90px;
    width:550px;
    float:right;
    margin:62px 0 -10px 0;
    font-family:"Arial", "Helvetica", Sans-serif;
    text-transform:uppercase;
    font-size:13px; 
    font-weight:bold; 
    color:#808080; 
    letter-spacing: -1px; 
    word-spacing:6px;
}

#nav ul, #languages ul {position:relative; margin:0; padding:0;float:right}
#nav ul li, #languages ul li {list-style:none; float:left;text-align:right; padding-left:15px; top:30px;}

#nav ul li a, #languages ul li a {
    text-decoration:none; 
    outline:none;
    cursor:pointer; 
    font-size:1.0em;
}

#nav a:link    {color: #808080; font-size:1.0em;}
#nav a:visited {color: #808080;font-size:1.0em;}
#nav a:hover   {color: #c9c9c9; font-size:1.0em;}
#nav a:active  {color: #c9c9c9;font-size:1.0em;}
.navigation .alignleft {float:left;}
.navigation .alignright {float:right;}

#line {
    border-top: 1px solid #b0b0b0;
    padding: 25px 0 10px 0;
    clear:both;
    width:100%;
    height:auto;
}

#line-wide {
    border-top: 0px solid #b0b0b0;
    padding: 0 0 0 0;
    clear:both;
    width:100%;
    height:auto;
}

#l-side {
    margin:0 0 12px 4px; 
    width: 65%;
    float:left;
}

#r-side h1, .post h1{
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size:2em;
    text-transform: uppercase;
    text-align:left;
    letter-spacing: -1px;
    color:#4b4b4b;
    word-spacing:3px;
    font-weight:100;
    margin: 0 0 6px 40px;
}


#l-side h4{
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size:1.8em;
    text-transform: uppercase;
    line-height: 135%;
    text-align:left;
    letter-spacing: -1px;
    color:#898989;
    word-spacing:3px;
    font-weight:100;
    margin: 0px 0 6px 40px;
}

#line-wide h4, .post h4{
    font-family: "Verdana";
    font-size: 110%;
    color:#5F5F5F;
    text-align: left;
    margin: 15px 0 8px 50px;
    line-height: 155%;
    font-weight: bold;
}

#l-side h5, #line-wide h5, .post h5{
    font-family: "Verdana";
    font-size: 110%;
    color:#5F5F5F;
    text-align: left;
    margin: 0px 0 0 60px;
    line-height: 135%;
    font-weight: normal;
}

#l-side h2, .post h2{
    text-transform: uppercase;
    font-family: "Arial", "Helvetica", Sans-serif;
    font-size: 120%;
    color:#5F5F5F;
    text-align: left;
    margin: 20px 0 0 60px;
    line-height: 185%;
    font-weight: normal;
}

.post p{
    margin:12px 0 16px 0px;
    text-align: justify;
}

.post-home{
    margin:20px 0 16px 40px;
    text-align: justify;

}

/*top right bottom left*/

#r-side { 
    width: 30%;
    float:right;
    border-left:1px solid #b0b0b0;
    margin:-8px 0 12px 0;
}

#r-side a:link    {color: #494949; text-decoration:none; border-bottom:1px dotted #4b4b4b;}
#r-side a:visited {color: #808080;}
#r-side a:hover   {color: #ffffff; background:#4b4b4b;}
#r-side a:active  {color: #808080; text-decoration:underline;}

#r-side p { 
    margin-left:40px;
    width:80%;
}

#r-side h3 {
    margin:5px 0 10px 40px;
    font-family:"Arial", "Helvetica", Sans-serif;
    text-transform: uppercase;
    color:#4b4b4b;
    letter-spacing:-3px;
    word-spacing:3px;
    font-weight:100;
    font-size:2em;
    padding-top:14px;
}

#r-side h4 {
    font-family:"Arial", "Helvetica", Sans-serif;
    text-align: right;
    font-size:10px;
    color:#808080;
    line-height:0.3em;
    letter-spacing:-1px;
    word-spacing:3px;
    font-weight:bold;
    text-decoration:none;
}

#r-side ul {
    list-style:none;
    padding:0;
    margin:0 0 18px 0px;
    padding-left:42px;
}

#r-side li {
    font-size:90%; 
    margin:5px 0;
}

#copy {
    clear:both;
    padding:5px 0;
    margin-bottom:6px;
}

#copy p a{
    font-family:"Arial", "Helvetica", Sans-serif;
    text-align: center;
    font-size: 11px;
    color:#4b4b4b;
    line-height: 3px;
    letter-spacing: -1px;
    word-spacing: 3px;
    font-weight: bold;
    margin: auto;
    text-decoration: none;
}

#copy a {font-size: 10px;}
#copy a:link    {color: #4B4B4B;}
#copy a:visited {color: #4B4B4B;}
#copy a:hover   {color: #808080;}
#copy a:active  {color: #808080;}